@import "@qds.dev/ui/tailwind";

@import "tailwindcss";

:focus-visible {
  outline: 9px double black;
  box-shadow: 0 0 0 6px white;
}

@font-face {
  font-family: "Karmatic Arcade";
  src: url("./assets/fonts/karmatic-arcade/karmatic-arcade.woff2") format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: "Ubuntu Sans";
  src: url("./assets/fonts/ubuntu-sans/ubuntu-sans-latin-600-normal.woff2")
    format("woff2");
}

@font-face {
  font-weight: 600;
  font-family: "Tomorrow";
  src: url("./assets/fonts/tomorrow/tomorrow-latin-600-normal.woff2") format("woff2");
}

@theme {
  --font-arcade: "Karmatic Arcade";
  --font-ubuntu: "Ubuntu Sans";
  --font-tomorrow: "Tomorrow";

  --color-blue-200: #b6e2ff;
  --color-blue-300: #75ccff;
  --color-blue-500: #0093ee;
  --color-blue-600: #0079d4;

  --color-light-300: #d8dbdf;
  --color-light-800: #6a7581;
  --color-light-950: #2e3338;

  --color-lavender-200: #e5d7fd;
  --color-lavender-400: #ac7ef4;
  --color-lavender-500: #985eee;
  --color-lavender-600: #803edf;

  --color-gradient-blue-start: rgba(24, 180, 244, 0.4);
  --color-gradient-blue-end: rgba(198, 204, 242, 0);

  --animate-shimmer: shimmer 8s infinite backwards reverse cubic-bezier(0.4, 0, 0.2, 1);
  --animate-to-visible: to-visible 325ms ease-in-out forwards;
  --animate-to-invisible: to-invisible 325ms ease-in-out forwards;
  --animate-from-invisible: from-invisible 325ms ease-in-out forwards;
  --animate-from-visible: from-visible 325ms ease-in-out forwards;

  @keyframes from-visible {
    from {
      opacity: 1;
    }
  }

  @keyframes to-visible {
    to {
      opacity: 1;
    }
  }

  @keyframes from-invisible {
    from {
      opacity: 0;
    }
  }

  @keyframes to-invisible {
    to {
      opacity: 0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    37.5% {
      background-position: 100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}

button {
  @apply cursor-pointer;
}

body {
  @apply text-light-950 font-ubuntu;
}

@utility shadow-primary {
  box-shadow: 4px 4px 0px 0px #6c2cc4;
}

@utility shadow-secondary {
  box-shadow: 4px 4px 0 0px #ac7ef4;
}

@utility bg-hero-gradient-blue {
  background: radial-gradient(
    98% 58% at 35% 42%,
    var(--color-gradient-blue-start) 0%,
    var(--color-gradient-blue-end) 73%
  );
}

@utility bg-hero-gradient-purple {
  background: radial-gradient(
    57.64% 57.6% at 48.79% 42.42%,
    rgba(172, 127, 244, 0.4) 0%,
    rgba(198, 204, 242, 0) 63.22%
  );
}

@utility bg-gradient-text-shimmer {
  background: linear-gradient(
    120deg,
    transparent 0%,
    transparent 46%,
    white 50%,
    transparent 54%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
}
